:root {
    --hue: 0;
}

.page-landing > .page-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.room-name-input {
    width: 380px;
}

.status-light-container {
    position: absolute;
    left: 1rem;
    top: 1rem;
}
