.card {
    width: 142px;
    height: 190px;
    position: absolute;
    padding: 0;
    backface-visibility: hidden;
    overflow: hidden;
}

.card-scaled {
    transform: scale(0.5);
    transform-origin: top left;
}

.card-front {
    background: url("../assets/8BitDeck.webp");
    background-color: white;
}

.card-back {
    background: url("../assets/Red_Deck.png");
    transform: rotateY(180deg);
}

.card-container {
    background-color: transparent;
    width: 142px;
    height: 190px;
    perspective: 1000px;
    transition: transform 0.4s ease-in-out;

    --ambientAmount: 0.1;
}

.card-inner-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
}

.card-container-scaled {
    width: 71px;
    height: 95px;
}

.card-inner-container-flipped {
    transform: rotateY(180deg);
}

.card-inner-container-animated {
    animation: 3s linear 1s infinite running slowlyrotate;
}

@keyframes slowlyrotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.card-pixel-corners {
    clip-path: polygon(
        0px calc(100% - 8px),
        4px calc(100% - 8px),
        4px calc(100% - 4px),
        8px calc(100% - 4px),
        8px 100%,
        calc(100% - 8px) 100%,
        calc(100% - 8px) calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) calc(100% - 8px),
        100% calc(100% - 8px),
        100% 8px,
        calc(100% - 4px) 8px,
        calc(100% - 4px) 4px,
        calc(100% - 8px) 4px,
        calc(100% - 8px) 0px,
        8px 0px,
        8px 4px,
        4px 4px,
        4px 8px,
        0px 8px
    );
}

.card-container-disabled {
    cursor: not-allowed;
    transform: translateY(100%) !important;
}

.card-inner-container-active {
    animation-name: ambientMovement;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
    transform-origin: bottom center;
    transition: transform 0.4s ease-in;
    transform: rotateZ(calc(var(--ambientAmount) * 10deg));
    width: 100%;
}

.card-inner-container-active > .card {
    border: 2px solid gold;
}

@keyframes ambientMovement {
    0%,
    100% {
        --ambientAmount: 0.1;
    }
    50% {
        --ambientAmount: -0.1;
    }
}

@property --ambientAmount {
    syntax: "<number>";
    inherits: true;
    initial-value: 0.1;
}
