.hand-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 50%;
    transform: translateX(calc(-50% - 71px)) translateY(25%);
}

.hand-container > .card-container-selected {
    transform: translateY(-125%) !important;
}
.hand-container > .card-container {
    transform-origin: bottom center;
    transform-style: preserve-3d;
}
.hand-container > .card-container:nth-child(1) {
    transform: rotateZ(-20deg);
}

.hand-container > .card-container:nth-child(2) {
    transform: rotateZ(-15deg);
}

.hand-container > .card-container:nth-child(3) {
    transform: rotateZ(-5deg);
}

.hand-container > .card-container:nth-child(4) {
    transform: rotateZ(-2.5deg);
}

.hand-container > .card-container:nth-child(5) {
    transform: rotateZ(2.5deg);
}

.hand-container > .card-container:nth-child(6) {
    transform: rotateZ(5deg);
}

.hand-container > .card-container:nth-child(7) {
    transform: rotateZ(15deg);
}

.hand-container > .card-container:nth-child(8) {
    transform: rotateZ(20deg);
}
