.hand-container {
    display: flex;
    position: relative;
    bottom: 0;
    z-index: 1;
    justify-content: center;
    transform: translateY(20%);
    height: 100%;
    margin: 0 auto;
    width: 40%;
    max-width: 840px;
}

.hand-container > .card-container {
    transform-origin: bottom center;
    transform-style: preserve-3d;
}
.hand-container > .card-container:nth-child(1) {
    transform: translateY(10%) rotateZ(-20deg);
}

.hand-container > .card-container:nth-child(2) {
    transform: translateY(5%) rotateZ(-15deg);
}

.hand-container > .card-container:nth-child(3) {
    transform: rotateZ(-5deg);
}

.hand-container > .card-container:nth-child(4) {
    transform: rotateZ(-2.5deg);
}

.hand-container > .card-container:nth-child(5) {
    transform: rotateZ(2.5deg);
}

.hand-container > .card-container:nth-child(6) {
    transform: rotateZ(5deg);
}

.hand-container > .card-container:nth-child(7) {
    transform: translateY(5%) rotateZ(15deg);
}

.hand-container > .card-container:nth-child(8) {
    transform: translateY(10%) rotateZ(20deg);
}
