.help-container {
    overflow: hidden;
    position: absolute;
    bottom: 1rem;
    right: 0;
    transform: translateX(20%);
    z-index: 1;

    --gold: gold;
}

.help-inner-container {
    background-color: #ffc118;
    font-size: 2em;
    padding: 0.25rem 0.5rem !important;
    transform: translateX(0.5rem);
}

.help-inner-container:hover {
    background-color: #f7d51d;
}

.help-card-values-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.help-card-item {
    margin-right: 1rem;
    text-align: center;
}

.help-card-item:last-child {
    margin-right: 0;
}

.help-card-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 2em;
    background-clip: text;
    color: var(--gold);
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
    background-image: repeating-linear-gradient(
        5deg,
        var(--gold) 0%,
        var(--light-shadow) 23%,
        var(--gold) 31%
    );
}

.help-button-text {
    display: inline-block;
    transform: translateX(-0.35rem);
}
