.members-list-container {
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 15rem;
    background-color: #333;
    height: unset;
}

.members-list-container-collapsed {
    height: 0;
}

.members-list-container > .title {
    padding: 0 !important;
    margin-top: -1rem !important;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.members-list-container > .member {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.members-list-container .star {
    position: absolute;
    transform: translateX(-100%);
}
