.playing-field-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow-y: auto;
    height: 100%;
    justify-content: space-around;
    gap: 1rem;
}

.playing-field-slot {
    height: 212px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playing-field-slot-container {
    width: 164px;
}

.playing-field-slot-container .nes-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
