.playing-field-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20%;
}

.playing-field-slot {
    height: 212px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playing-field-flip-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.playing-field-slot-container {
    width: 164px;
}

.playing-field-slot-container .nes-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
