@import url("https://fonts.cdnfonts.com/css/public-pixel");
@import url("nes.css/css/nes.css");

html,
body {
  font-family: "Public Pixel", sans-serif;
  background: #333;
  color: white;
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.page {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;
  text-align: center;
}

.card-logo-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.room-name-input {
  margin-bottom: 2rem;
}

.room-creating-text {
  margin-bottom: 2rem;
}

.room-create-button {
  display: block;
  margin: 0 auto;
}

.text-sm {
  font-size: 0.6em;
}

.title {
  background-color: #333 !important;
}

.nes-container {
  border-color: white;
}

.avatar {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  overflow: hidden;
}
.avatar,
.avatar-wrapper {
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  );
  position: relative;
}
.avatar {
  border: 8px solid transparent;
}
.avatar-wrapper {
  width: fit-content;
  height: fit-content;
  margin: 0 auto 1rem auto;
}
.avatar-wrapper .avatar {
  display: block;
  clip-path: polygon(
    8px 24px,
    12px 24px,
    12px 16px,
    16px 16px,
    16px 12px,
    24px 12px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 16px) 12px,
    calc(100% - 16px) 16px,
    calc(100% - 12px) 16px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    16px calc(100% - 12px),
    16px calc(100% - 16px),
    12px calc(100% - 16px),
    12px calc(100% - 24px),
    8px calc(100% - 24px)
  );
}
.avatar::after,
.avatar-wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    8px 50%,
    8px 24px,
    12px 24px,
    12px 16px,
    16px 16px,
    16px 12px,
    24px 12px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 16px) 12px,
    calc(100% - 16px) 16px,
    calc(100% - 12px) 16px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    16px calc(100% - 12px),
    16px calc(100% - 16px),
    12px calc(100% - 16px),
    12px calc(100% - 24px),
    8px calc(100% - 24px),
    8px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: block;
  pointer-events: none;
}
.avatar::after {
  margin: -8px;
}
